@font-face{
    font-family: myFont;
    src: url(CutiveMono-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: myFont;
}

body, html {
    height: 100%;
    overflow-x: hidden;
}


/* ------------------------------------------- */

.header {
    padding: 15px;
    font-size: 15px;

    text-align: center;
    width: 100%;

    /* background: white; */
    color: black;
    
}

.logo {
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

.logo a {
    /* I think the custom font doesn't allow me to make it thicker */
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
}

/* ------------------------------------------- */

.navbar {
    /* Only until find a way to put it under hamburger menu */
    text-align: center;
    justify-content: space-between;
}

.navbar a {
    color: black;
    text-decoration: none;
}

.navbar a:hover {
    font-weight: 1000;
}

/* ------------------------------------------- */

.homepage {
    height: 90vh;
    /* This height makes it 90% of the viewport height - filling the screen more */

    margin: 10px;
    border: 1px solid black;
    /* padding: */
}

.homepage-img {

}


.season-drop {
    height: 45vh;

    flex-direction: column;
    /* display: */
    /* ^This creates it so that the buttons are placed below */
    text-align: center;
    justify-content: center;
    /* align-items: flex-end; */
    align-content: flex-end;
    /* position: absolute; */
}

.season-drop h2 {
    margin-bottom: 10px;
}

.shop-button {
    background: none;
    border: none;

    text-decoration: underline;
    font-size: 15px;
}

.discover-button {
    background: none;
    border: none;

    text-decoration: underline;
    font-size: 15px;
}

/* Need to add hover effect for button */


/* ------------------------------------------- */

.gallery-top {
    height: 90vh;
    /* This height makes it 90% of the viewport height - filling the screen more */

    margin: 10px;
    /* border: 1px solid black; */
}


/* ------------------------------------------- */

.gallery-bottom {
    height: 90vh;
    /* This height makes it 90% of the viewport height - filling the screen more */

    margin: 10px;
    /* border: 1px solid black; */
}

/* ------------------------------------------- */

.preorder {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}

.preorder h1 {
    padding-bottom: 5px;
}

.preorder input {
    margin-top: 10px;
}

/* ------------------------------------------- */

footer {
    /* position: absolute; */
    bottom: 0;

    padding: 4rem 1rem;
    color: grey;
}

footer a {
    color: grey;
    text-decoration: none;
    transition: color 0.3s;
}

footer a:hover {
    color: black;
}

.footercontainer {
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
}

.column-main {
    text-align: left;
    max-width: 300px;
}

.column {
    flex-basis: 200px;
    flex-grow: 1;
    text-align: center;
}

.column h4 {
    padding: 5px;
}

.column h5 {
    padding: 5px;
    text-decoration: underline;
}

.service {
    display: block;
}



@media only screen and (max-width: 768px) {
}